footer .container-fluid{
    background-color: #1E3E62;
}
footer .container-fluid h5{
    padding-bottom: 10px;
    border-bottom: 2px solid #00B4D8;
}
.linkContainer a i{
    color: #0B192C;
    transition: all 0.7s;
}
.linkContainer a i:hover{
    color: #FF6500;
}